*{
  padding: 0 auto;
  margin: 0 auto;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* #cover{
  display:block;
}
#content{
  display:none;
} */

.cover-logo{
  width:50%;
  margin:5% 25%;
}

.content-block{
  width:100%;
  padding: 0 auto;
  margin: 0 auto;
}

.top-menu{
  display:block;
  top:0;
  width:100%;
}

.inside-top-menu{
  width:80%;
  margin: 0 10%;
  padding: 32px 0;
}

.top-menu-item{
  display:inline-block;
  vertical-align: middle;
}

.inside-top-left,
.inside-top-right{
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}

.logo{
  width: 60px;
}

.name{
  font-size:1.5em;
  font-weight:600;
}

.contact{
  float:right;
  text-decoration: none;
  color:#278126;
}

.writeup{
  line-height: 2em;
  text-align: center;
}

.closing-line{
  line-height: 2em;
  text-align: center;
  padding-top:10%;
}

.content-block{
  margin:10% 25% 0 25%;
  width:50%;
  font-size: 1.2em;
  font-weight: 100;
}


.bins{
  width:40%;
  position:fixed;
  bottom:0;
  left:60%;
  float:right;
}


@media only screen and (max-width: 600px)
and (-webkit-device-pixel-ratio: 2){
  .contact{
    display:none;
  }

  .logo{
    width:60px;
  }

  .name{
    font-size: 2em;
    padding-left: 8px;
  }

  .inside-top-left{
    width:80%;
    margin:5% 10%;
    text-align:center;
  }

  .inside-top-right{
    display:none;
  }

  .content-block{
    width:80%;
    margin:10% 10% 0 10%;
    font-size:1em;
    text-align: left;
  }

  .closing-line,
  .writeup{
    line-height: 2em;
    text-align: left;
  }

  .bins{
    width:80%;
    position:absolute;
    bottom:0;
    left:20%;
  }

}
